$black: #0C090A;
$white: #FFFFFF;
$red: #E01414;
$yellow: #FA9927;
$green: #129657;

$fontFamilyCrimsonPro: 'Crimson Pro', serif;
$fontFamilyShrikhand: 'Shrikhand', serif;
$fontFamilyRozhaOne: 'Rozha One', serif;

